h1
{
  color:white;
  font-size:max(2em,2vh);
}
*
{ 
font-family: Arial, Helvetica, sans-serif;
padding: 0; margin: 0; 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
}
body{
height:100%;
background-color:#F5F5F5;
width:100%;
}
.header
{
  min-width:100%;
  height:15vh;
  min-height:100px;
  display:flex;
  align-items:stretch;
  justify-content: center;
  background-color:white;
  position: fixed;
  top: 0;
}
a{
  color:yellow;
  text-decoration:none;
}
.logo{
display: block;
aspect-ratio: 1 / 1;
height:100%;
background-image:url('addaheading.png');
background-size: cover;
}
.main
{
display:flex;
padding-top: max(15vh,100px);
align-content:flex-start;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
min-height:100%;
height:auto;
position:relative;
}
.infobox{
width:20vw;
height:10vw;
min-height:200px;
min-width:400px;
color:white;
padding:1vw;
}
.candidatebox{
width:100%;
height:auto;
color:white;
padding:1vw;
font-size:max(1.5em,1.5vh);
display:flex;
}
footer{
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.footer{
  width: 100%;
  height: 2.5rem;
  background-color:black;
  color: white;
  text-align:center;
  padding:10px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.positionbanner{
width:100%;
height:auto;
color:white;
padding:1vw;
}
.breadcrumbcontainer{
  width:100%;
  text-align: center;
  height:auto;
  color:black;
  background-color:#424242;
  padding:1vw;
  color:yellow;
  font-size:max(1.5em,1.5vh);
}
.incumbent{
  width:auto;
  height:100%;
  background-color:#7bc67b;
  color:white;
  padding: 0 2.5% 0;
}
